
html, body {
    display: table;
    width: 100%;
}

.header {
    background-color: #DB0604;
    margin: 0 auto;
}

p {
    font-size: 16px;
    font-family: ArialRoundedMTBold, Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
}

h1 {
    font-size: 46px;
    font-family: ArialRoundedMTBold, Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
    text-align: center;
    
}

h3 {
    font-size: 30px;
    font-family: ArialRoundedMTBold, Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
    text-align: center;
    
}

h4 {
    font-size: 25px;
    font-family: ArialRoundedMTBold, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

img {
    text-align: center;
}

 .logo img{
    margin-top: 30px;
    margin-bottom: 30px;
}

.title {
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;  
}

.title h1 {
    margin-bottom: 30px;
}

.subTitle {
    text-align: center;
    max-width: 300px;  
}

.beef {
    background-color: #DB0604;
    margin: 0 auto;  
}

.chicken {
    background-color: #DB0604;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.content {
    width: 580px;
    margin-left: auto;
    margin-right: auto;    
}

.buy {
background: #F47621;
border: 3px solid #040707;
font-family: ArialRoundedMTBold;
font-size: 20px;
color: #000;
letter-spacing: 0px;
}

.social {
    margin-top: 30px;
}

/* ------------------------------------- RESPONSIVE SMALL ------------------------*/


@media only screen and (max-width: 600px) {
    .content {
        width: 95% !important;
    }
    .title {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .social {
        margin-top: 0px;
    }
    
     .logo img {
    margin-top: 0px;
    margin-bottom: 0px;
}
    .title h1 {
    margin-bottom: 0px;
}
       img.biscuits {
        width: 160px;
    }
    
}

@media only screen and (max-width: 480px) {
    img.biscuits {
        width: 100px;
    }
    
    h1 {
        font-size: 26px;
        
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
    }
    
}
